{{/* gotype: entgo.io/ent/entc/gen.Graph */}}

{{ define "soft_delete" }}

{{ $pkg := base $.Config.Package }}
{{ template "header" $ }}

import (
	"context"
	"time"

	{{ range $n := $.Nodes }}
		"{{ $n.Config.Package }}/{{ $n.Package }}"
	{{- end }}
)

{{ range $n := $.Nodes }}
{{ $client := print $n.Name "Client" }}

{{ $rec := $n.Receiver }}{{ if eq $rec "c" }}{{ $rec = printf "%.2s" $n.Name | lower }}{{ end }}

{{- range $f := $n.Fields }}
{{- if eq $f.StructField "DeletedAt"}}
// SoftDelete returns a soft delete builder for {{ $n.Name }}.
func (c *{{ $client }}) SoftDelete() *{{ $n.UpdateName }} {
	mutation := new{{ $n.MutationName }}(c.config, OpUpdate)
	mutation.SetDeletedAt(time.Now())
	return &{{ $n.UpdateName }}{config: c.config, hooks: c.Hooks(), mutation: mutation}
}

// SoftDeleteOne returns a soft delete builder for the given entity.
func (c *{{ $client }}) SoftDeleteOne({{ $rec }} *{{ $n.Name }}) *{{ $n.UpdateOneName }} {
	mutation := new{{ $n.MutationName }}(c.config, OpUpdateOne, {{ print "with" $n.Name }}({{ $rec }}))
	mutation.SetDeletedAt(time.Now())
	return &{{ $n.UpdateOneName }}{config: c.config, hooks: c.Hooks(), mutation: mutation}
}

// SoftDeleteOneID returns a soft delete builder for the given id.
func (c *{{ $client }}) SoftDeleteOneID(id {{ $n.ID.Type }}) *{{ $n.UpdateOneName }} {
	mutation := new{{ $n.MutationName }}(c.config, OpUpdateOne, {{ print "with" $n.Name "ID" }}(id))
	mutation.SetDeletedAt(time.Now())
	return &{{ $n.UpdateOneName }}{config: c.config, hooks: c.Hooks(), mutation: mutation}
}

// QueryNotDeleted returns a query not deleted builder for {{ $n.Name }}.
func (c *{{ $client }}) QueryNotDeleted() *{{ $n.QueryName }} {
	return c.Query().Where({{ $n.Package }}.DeletedAtIsNil())
}

// GetNotDeleted returns a {{ $n.Name }} not deleted entity by its id.
func (c *{{ $client }}) GetNotDeleted(ctx context.Context, id {{ $n.ID.Type }}) (*{{ $n.Name }}, error) {
	return c.Query().Where({{ $n.Package }}.ID(id), {{ $n.Package }}.DeletedAtIsNil()).Only(ctx)
}

// GetNotDeletedX is like GetNotDeleted, but panics if an error occurs.
func (c *{{ $client }}) GetNotDeletedX(ctx context.Context, id {{ $n.ID.Type }}) *{{ $n.Name }} {
	obj, err := c.GetNotDeleted(ctx, id)
	if err != nil {
		panic(err)
	}
	return obj
}

// Restore returns a restore builder for {{ $n.Name }} to clear the DeletedAt field.
func (c *{{ $client }}) Restore() *{{ $n.UpdateName }} {
	mutation := new{{ $n.MutationName }}(c.config, OpUpdate)
	mutation.ClearDeletedAt()
	return &{{ $n.UpdateName }}{config: c.config, hooks: c.Hooks(), mutation: mutation}
}

// RestoreOne returns a restore builder for the given entity.
func (c *{{ $client }}) RestoreOne({{ $rec }} *{{ $n.Name }}) *{{ $n.UpdateOneName }} {
	mutation := new{{ $n.MutationName }}(c.config, OpUpdateOne, {{ print "with" $n.Name }}({{ $rec }}))
	mutation.ClearDeletedAt()
	return &{{ $n.UpdateOneName }}{config: c.config, hooks: c.Hooks(), mutation: mutation}
}

// RestoreOneID returns a restore builder for the given id.
func (c *{{ $client }}) RestoreOneID(id {{ $n.ID.Type }}) *{{ $n.UpdateOneName }} {
	mutation := new{{ $n.MutationName }}(c.config, OpUpdateOne, {{ print "with" $n.Name "ID" }}(id))
	mutation.ClearDeletedAt()
	return &{{ $n.UpdateOneName }}{config: c.config, hooks: c.Hooks(), mutation: mutation}
}

// QueryDeleted returns a query builder for deleted {{ $n.Name }} entities.
func (c *{{ $client }}) QueryDeleted() *{{ $n.QueryName }} {
	return c.Query().Where({{ $n.Package }}.DeletedAtNotNil())
}

// HardDelete returns a hard delete builder for {{ $n.Name }} that permanently removes records.
func (c *{{ $client }}) HardDelete() *{{ $n.DeleteName }} {
	return c.Delete()
}

// HardDeleteOne returns a hard delete builder for the given entity.
func (c *{{ $client }}) HardDeleteOne({{ $rec }} *{{ $n.Name }}) *{{ $n.DeleteOneName }} {
	return c.DeleteOne({{ $rec }})
}

// HardDeleteOneID returns a hard delete builder for the given id.
func (c *{{ $client }}) HardDeleteOneID(id {{ $n.ID.Type }}) *{{ $n.DeleteOneName }} {
	return c.DeleteOneID(id)
}
{{- end }}
{{- end }}

{{ end }}
{{ end }}
